Repository CrazyOldBuffalo/attendance-system, pull requests merged in 2022-11, with the labels that each got.

#19 Finishing of DB schema
  back-end/models/academicadvisor.model.js
  back-end/models/class.model.js
  back-end/models/course.model.js
  back-end/models/index.js
  back-end/models/module.model.js
  back-end/models/register.model.js
  back-end/models/student.model.js
  back-end/server.js
Labels: back-end

#20 checked schema is working as intended, minor changes to the models
  back-end/models/class.model.js
  back-end/models/course.model.js
  back-end/models/courseleader.model.js
  back-end/models/index.js
  back-end/models/module.model.js
  back-end/models/moduleleader.model.js
  back-end/server.js
Labels: back-end

#23 Completion of Most/All CRUD operations via controller
  back-end/controllers/academicadvisor.conroller.js
  back-end/controllers/academicadvisor.controller.js
  back-end/controllers/class.controller.js
  back-end/controllers/course.controller.js
  back-end/controllers/courseleader.controller.js
  back-end/controllers/module.controller.js
  back-end/controllers/moduleleader.controller.js
  back-end/controllers/register.controller.js
  back-end/controllers/registerItem.controller.js
  back-end/controllers/student.controller.js
  back-end/controllers/tutor.controller.js
  back-end/controllers/user.controller.js
  back-end/controllers/utils/errors.controller.js
  back-end/models/academicadvisor.model.js
  back-end/models/class.model.js
  back-end/models/course.model.js
  back-end/models/courseleader.model.js
  back-end/models/index.js
  back-end/models/module.model.js
  back-end/models/moduleleader.model.js
  back-end/models/register.model.js
  back-end/models/registeritem.model.js
  back-end/models/student.model.js
  back-end/models/tutor.model.js
  back-end/routes/academicadvisor.routes.js
  back-end/routes/class.routes.js
  back-end/routes/course.routes.js
  back-end/routes/courseleader.routes.js
  back-end/routes/module.routes.js
  back-end/routes/moduleleader.routes.js
  back-end/routes/register.routes.js
  back-end/routes/student.routes.js
  back-end/routes/tutor.routes.js
  back-end/routes/user.routes.js
  back-end/server.js
Labels: back-end

#24 Updating front-end
  package-lock.json
  package.json
  public/images/EditRegister.png
  public/images/cont.png
  public/images/home.png
  public/images/logIn.png
  public/images/logOut.png
  public/images/registerAttendanceBlack.png
  public/images/searchRegister.png
  public/images/searchRegisterBlack.png
  public/images/searchUserBlack.png
  public/images/usersearch.png
  public/images/viewAttendance.png
  src/App.js
  src/Components/Auth/Styles/Login.scss
  src/Components/Home.js
  src/Components/HomeStudent.js
  src/Components/LoginScreen.js
  src/Components/Navbar.js
  src/Components/RegisterAttendance.js
  src/Components/SearchForAStudent.js
  src/Components/SearchForAttendanceRegister.js
  src/Components/ViewAttendance.js
  src/Components/testing.js
  src/index.js
  src/resources/styles/Home.scss
  src/resources/styles/RegisterAttendance.scss
  src/resources/styles/searchPages.scss
  src/resources/styles/style.scss
Labels: front-end

#26 Started on the classes.
  src/App.js
  src/Components/AcademicAdvisor.js
  src/Components/Auth/Login.js
  src/Components/CourseLeader.js
  src/Components/ModuleLeader.js
  src/Components/Student.js
  src/Components/Tutor.js
  src/Components/User.js
Labels: back-end, front-end

#27 Bug fix
  back-end/routes/class.routes.js
  src/App.js
Labels: bug, back-end, front-end
